* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 420px;
}

.navbar {
    display: flex;

    flex-direction: row;
    align-items: center;

    list-style-type: none;

    padding-left: 10px;
}

.navbar>li {
    margin-right: 20px;
}

a {
    text-decoration: none;

    color: black;
}

.watch>ul {
    padding-left: 10px;
}

.watch_vod {
    display: flex;

    flex-direction: row;
    text-decoration: none;
    justify-content: space-between;

    margin-bottom: 10px;
}

.btn {
    float: right;
}

.btn>button {
    cursor: pointer;
}

.duration {
    padding-top: 30px;
}

.meta {
    padding-top: 10px;
}

.watch {
    max-height: 200px;
    overflow-y: auto;

    padding-right: 10px;
}

.watch::-webkit-scrollbar {
    width: 8px;
}

.watch::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 2px;
}

.watch::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 2px;
}

.watch::-webkit-scrollbar-thumb:hover {
    background: #555;
}