html {
    --plyr-color-main: #772ce8;
    --plyr-video-controls-background: transparent;

    /* Menu */
    --plyr-menu-color: white;
    --plyr-menu-item-arrow-color: white;
    --plyr-menu-arrow-size: 12px;
    --plyr-menu-background: #18181b;

    /* Tooltip (time) */
    --plyr-tooltip-color: white;
    --plyr-tooltip-background: rgba(255, 255, 255, 0.5);
    --plyr-tooltip-shadow: none;

}